[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
selinux = ">=0.2.1"
ansible = "==2.7.16"
pyyaml = ">=4.2b1"
requests = ">=2.20.0"
netaddr = ">=0.7.19"
urllib3 = ">=1.24.2"
dnspython = ">=1.16.0"
proxmoxer = ">=1.0.3"
pyghmi = ">=1.5.5"

[requires]
python_version = "3.7"
