#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
# OpenShift
#---------------------------------------------------------------------

listen stats
    bind :9000
    mode http
    stats enable
    stats uri /
    monitor-uri /healthz

frontend openshift-api
    bind *:6443
    default_backend openshift-api
    mode tcp
    option tcplog

backend openshift-api
    balance source
    mode tcp
#    server bootstrap 192.0.2.29:6443 check
    server master0 192.0.2.25:6443 check
    server master1 192.0.2.26:6443 check
    server master2 192.0.2.27:6443 check

frontend machine-config-server
    bind *:22623
    default_backend machine-config-server
    mode tcp
    option tcplog

backend machine-config-server
    balance source
    mode tcp
#    server bootstrap 192.0.2.29:22623 check
    server master0 192.0.2.25:22623 check
    server master1 192.0.2.26:22623 check
    server master2 192.0.2.27:22623 check

frontend ingress-http
    bind *:80
    default_backend ingress-http
    mode tcp
    option tcplog

backend ingress-http
    balance source
    mode tcp
    server worker0 192.0.2.30:80 check
    server worker1 192.0.2.31:80 check
    server worker2 192.0.2.32:80 check
    server worker5 192.0.2.35:80 check
    server worker6 192.0.2.36:80 check
    server worker7 192.0.2.37:80 check

frontend ingress-https
    bind *:443
    default_backend ingress-https
    mode tcp
    option tcplog

backend ingress-https
    balance source
    mode tcp
    server worker0 192.0.2.30:443 check
    server worker1 192.0.2.31:443 check
    server worker2 192.0.2.32:443 check
    server worker5 192.0.2.35:443 check
    server worker6 192.0.2.36:443 check
    server worker7 192.0.2.37:443 check
